h1 {
  text-align: center;
  margin: 20px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
  padding: 16px;
}

a {
  display: inline-block;
  margin-bottom: 16px;
  color: #1619f3;
  text-decoration: none;
  font-weight: bold;
}

.card {
  background: #1f2937;
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

button {
  margin-top: 6px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.remove {
  background: #dc2626;
  color: white;
}
